<div class="p-4 grid grid-cols-3 gap-2  w-1/2 mx-auto">
    <img  class=" transform scale-[.8]" src="\assets\images\activities\training.png" alt="cardio">
    <img  class=" transform scale-[.8]" src="\assets\images\activities\rpm.png" alt="cardio">
    <img  class=" transform scale-[.8]" src="\assets\images\activities\force.png" alt="cardio">
    <img  class=" transform scale-[.8]" src="\assets\images\activities\cardio.png" alt="cardio">
    <img  class=" transform scale-[.8]" src="\assets\images\activities\souplesse.png" alt="cardio">
    <img  class=" transform scale-[.8]" src="\assets\images\activities\sauna.png" alt="cardio">
    <img  class=" transform scale-[.8]" src="\assets\images\activities\dance.png" alt="cardio">
    <img  class=" transform scale-[.8]" src="\assets\images\activities\aquatique.png" alt="cardio">
    <img  class=" transform scale-[.8]" src="\assets\images\activities\clubenfant.png" alt="cardio">
</div>