<div class="grid grid-rows-3 gap-5 block box-content h-96 p-14 bg-cod-gray-500 self-center">
    <div class=" row-span-4 font-poppins text-white lg:m-32 md:m-0 sm:m-0">
           <div class="text-5xl">Join</div> 
           <div class="text-7xl">US!</div> <br>
           <hr class="border-4 w-32"> <br>
           <div class="text-sm w-96">Sed ut perspiciatis unde omnisiste natus error sit voluptatem accusantium doloremque laudantium totam rem 
            aperiam eaque ipsa quae ab illo inventore architecto beatae</div>
    </div>
    <div class="rounded-t-full w-48 h-96 col-start-5 col-end-6 row-start-5 row-end-7 bg-white">
    </div>
    <div class=" rounded-t-full w-48 h-72 col-start-6 col-end-7 row-start-6 row-end-7 bg-white">
    </div>
  </div>