<div class="gym-card">
    <img height="100" src="https://s7d2.scene7.com/is/image/TWCNews/brooklyn-gym-generic-file-covidjpg?wid=1250&hei=703&$wide-bg$" alt="">
    <div class="p-5">
        <h3 class="text-3xl mb-2">California Gym</h3>
        <div class="flex mb-7">
            <i></i>
            <p class="text-xs">Centre Urbain Nord</p>
        </div>
        <!-- <star-rating value="5" totalstars="5" checkedcolor="yellow" uncheckedcolor="white"></star-rating> -->
        <star-rating
            [value]="rating"
            [totalstars]="maxRating"
            [checkedcolor]="checkedColor"
            [uncheckedcolor]="unCheckedColor"
            size="25"
            [readonly]="true"
        >
        </star-rating>
    </div>
</div>