<div class="sm:m-16 md:m-20 lg:m-32 font-poppins flex flex-wrap justify-items-center">
<div class=" self-center">
  <form 
  #loginForm="ngForm"
  (ngSubmit)="register(loginForm)"
  >

     <label for="first_name" class="font-medium text-base">First name*</label><br>
      <input
      ngModel 
      #first_name="ngModel"
      (change)="log(first_name)"
      required
      name="first_name" type="text" id="first_name" placeholder="First Name"
      class="form-control placeholder-gray-500 placeholder-opacity-50 w-96 rounded-full my-4 "
      >
      <div class="text-red" *ngIf="first_name.touched && !first_name.valid">
        <div *ngIf="first_name.errors?.required">
          First Name is required.
        </div>
      </div>
      <br>
       

     <label for="last_name" class="font-medium text-base">Last name*</label><br>
      <input 
      ngModel 
      #last_name="ngModel"
      (change)="log(last_name)"
      required
      name="last_name" type="text" id="last_name" placeholder="Last Name" 
      class="placeholder-gray-500 placeholder-opacity-50 w-96 rounded-full my-4"
      >
      <div class="text-red" *ngIf="last_name.touched && !last_name.valid">
        <div *ngIf="last_name.errors?.required">
          Last Name is required.
        </div>
      </div>
      <br>


     <label for="email" class="font-medium text-base">Email*</label><br>
      <input 
      ngModel 
      #email="ngModel"
      (change)="log(email)"
      required
      email 
      name="email" type="text" id="email"  placeholder="Email" 
      class="placeholder-gray-500 placeholder-opacity-50 w-96 rounded-full my-4"
      >
      <div class="text-red" *ngIf="email.touched && !email.valid">
        <div *ngIf="email.errors?.required">
           Email is required.
        </div>
        <div *ngIf="email.errors?.email">
          Email is invalid.
       </div>
      </div>
      <br>


     <label for="password" class="font-medium text-base">Password*</label><br>
      <input 
      ngModel 
      #password="ngModel"
      (change)="log(password)"
      required
      name="password" type="password" id="password" placeholder="Password" 
      class="placeholder-gray-500 placeholder-opacity-50 w-96 rounded-full my-4"
      >
      <div class="text-red" *ngIf="password.touched && !password.valid">
        <div *ngIf="password.errors?.required">
          Password is required.
        </div>
      </div>
      <br>


     <label for="confirm_password" class="font-medium text-base">Confirm Password*</label><br>
      <input 
      ngModel 
      #confirm_password="ngModel"
      (change)="log(confirm_password)"
      required
      ngValidateEqual="password"
      name="confirm_password" type="password" id="confirm_password" placeholder="Confirm Password" 
      class="placeholder-gray-500 placeholder-opacity-50 w-96 rounded-full my-4"
      >
      <div class="text-red" *ngIf=" !confirm_password.valid && confirm_password.touched">
        <div *ngIf="confirm_password.errors?.required">
          Please confirm your password. 
        </div>
        <div class="warning-text" *ngIf="confirm_password.hasError('notEqual')">
          Passwords Don't Match
        </div>
      </div>
      <br>
     <button 
     (click)="addUser(loginForm); getUsers();"
     [ngStyle]="{'cursor': loginForm.invalid ? 'no-drop' : 'pointer' }"
     type="submit"
     class="w-24 my-4 text-white bg-cod-gray-500 rounded-full py-3 px-6... font-medium text-base font-poppins"
     >
      Sign Up 
     </button>

  </form>
</div>

<div class="md:flex-auto sm:m-0 box-content lg:m-32  max-w-lg h-80 p-4 p-4 bg-cod-gray-500 text-white self-center ">
  <div class="m-8 text-5xl font-Poppins">
    CONNECT VIA
  </div>
  <div>
   <!-- TODO: icons -->
  </div>
</div>
