<div class="relative">
    <img class="w-full" src="https://via.placeholder.com/150" alt="">
    <div class="hidden px-3 py-10 absolute text-white bg-[#000] top-0 left-0 w-full h-full ">
        <h5 class="font-bold uppercase mb-3">How to eat but never get fat</h5>
        <p class="border-b border-white border-opacity-30 font-light mb-3">written by kaboul ml kbabla</p>
        <p class="font-light mb-3">Sed ut perspiciatis unde omnis iste natus error sit  quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <svg class="float-right" xmlns="http://www.w3.org/2000/svg" id="arrow-long" width="53.971" height="20.466" viewBox="0 0 53.971 20.466">
            <path id="Path_3764" data-name="Path 3764" d="M13.566,51.171l-8.85-8.85A1.383,1.383,0,0,0,2.76,44.277l6.49,6.49H-38.617A1.383,1.383,0,0,0-40,52.149a1.383,1.383,0,0,0,1.383,1.383H9.249L2.76,60.022a1.383,1.383,0,0,0,1.956,1.956l8.85-8.85A1.383,1.383,0,0,0,13.566,51.171Z" transform="translate(40 -41.916)" fill="#fff"/>
        </svg>
    </div>
</div>