<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-white mb-3 ">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">
      <div
        class="flex items-center flex-shrink-0 text-white mr-6">
        <img src="assets/GymMasterLogo.jpg" class="w-12">
        <span
          class="font-semibold text-3xl font-bold text-cod-gray-500 font-poppins leading-relaxed inline-block mx-4 whitespace-nowrap">
          GYM MASTER
        </span>
      </div>
      <button
        class="text-cod-gray-500 cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button" (click)="toggleNavbar()">
        <!-- <i class="fas fa-bars"></i> -->
        <mat-icon>horizontal_split</mat-icon>
      </button>
    </div>
    <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">
      <ul class="flex flex-col lg:flex-row list-none ml-auto">
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-lg font-poppins leading-snug text-cod-gray-500 hover:underline"
          routerLink="/">
            <span class="ml-2 lg:my-2">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-lg font-poppins leading-snug text-cod-gray-500 hover:underline"
          routerLink="/discovergyms" routerLinkActive="active">
            <span class="ml-2 lg:my-2">Discover Gyms</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-lg font-poppins leading-snug text-cod-gray-500 hover:underline"
          routerLink="/blog">
            <span class="ml-2 lg:my-2">Blog</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/signup">
            <button
              class="w-24 text-black bg-white border-cod-gray-500 border-4 rounded-full py-3 md:my-2 lg:mx-4 lg:my-0 font-medium text-base font-poppins">
              Sign Up
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/login">
            <button
              class="w-24 text-white bg-cod-gray-500 border-cod-gray-500 border-4 rounded-full py-3 md:my-2 lg:mx-4 lg:my-0 font-medium text-base font-poppins">
              Login
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>