<!-- <div class="container my-12 mx-auto px-4 md:px-12"> -->


<!-- <div class="container justify-end flex-1 sm:w-auto md:w-3/5 lg:w-4/5 h-auto  font-poppins"> -->
<div class="container my-12 mx-auto px-4 md:px-12 font-poppins">

    <!-- <div class=" mx-auto grid lg:gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 "> -->
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
            <!-- <div class=" my-1 px-1 w-full md:w-1/2 md:my-4 lg:m-8 lg:px-8 lg:w-1/3"> -->
            <div class="my-1 px-1 w-full  md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <!-- <div class=" my-1 px-1 w-full md:w-1/2 md:my-4 md:pl-32 lg:m-8 lg:px-8 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class=" my-1 px-1 w-full md:w-1/2 md:my-4 lg:m-8 lg:px-8 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full md:w-1/2 md:pl-32 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full md:w-1/2 md:pl-32 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full md:w-1/2 md:pl-32 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div> -->


            <div class="my-1 px-1 w-full  md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full  md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full  md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full  md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full  md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full  md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full  md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
            <div class="my-1 px-1 w-full  md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <app-gym-card></app-gym-card>
            </div>
        </div>
    </div>
