/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; }

/* Importing Bootstrap SCSS file. */

:root {
    --swiper-theme-color: rgb(255, 255, 255);


  }
body { margin: 0; font-family: "poppins", sans-serif; }

p {
    font-size: 15px;
    font-weight: 300;
}
