<footer class="footer bg-cod-gray-500 relative pt-1 border-b-2 border-col-gray-500 h-96 text-white text-poppins">
    <div class="container mx-auto px-6">

        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row  justify-evenly ...">
                <div class="flex flex-col  text-sm">
                    <span class="font-bold mb-2">Logo GYM MASTER</span>
                    <span class="my-2">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br> 
                        accusantium doloremque laudantium, totam rem aperiam, illo inventore <br>
                        veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </span>
                    <span class="my-2">Logos fb insta tweeter</span>
                </div>
                <div class="flex flex-col sm:flex">
                    <span class="text-2xl mt-4 md:mt-0 mb-2">Get In Touch</span>
                    <hr class="border-2 my-2 w-24"> <br>
                    <span class="my-2 font-bold">Address</span>
                    <span class="my-2 text-sm">(Logo loc) 123 Centre Urbain Nord, Tunis.</span>
                </div>
                <div class="flex flex-col mt-20">
                    <!-- <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2"></span> -->
                    <span class="my-2 font-bold">Contact Info</span>
                    <span class="my-2 text-sm">(logo) info@gym.com</span>
                    <span class="my-2 text-sm">(logo) +216 71 456 789</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm mb-2">
                    © 2021 by Sarah&Mahdi&Meryem&Amine
                </p>
            </div>
        </div>
    </div>
</footer>