<footer class="footer bg-cod-gray-500 relative pt-1 border-b-2 border-blue-700">
    <div class="container mx-auto px-6">

        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col">
                    <img src="assets/GymMasterLogoWhiteVersion.png" class="w-24">
                    <span class="my-20">
                        <p class="font-poppins text-white text-base"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br> 
                            accusantium doloremque laudantium, totam rem aperiam, illo inventore <br>
                            veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                        <mat-icon [ngStyle]="{'color':'white','font-size':'48px'}">facebook</mat-icon>
                        <mat-icon [ngStyle]="{'color':'white','font-size':'48px'}">instagram</mat-icon>
                        <mat-icon [ngStyle]="{'color':'white','font-size':'48px'}">tweeter</mat-icon>
                    </span>
                </div>
                <div class="flex flex-col">
                    <span class="font-semibold font-poppins text-2xl text-white uppercase mt-4 md:mt-0 mb-2">Get in touch</span>
                    <hr class="border-2 my-2 w-24 text-white"> <br>
                     <span class="my-2 font-bold text-base font-poppins text-white">Address</span>
                     <span class="my-2 text-base  font-poppins text-white"><mat-icon>location_on</mat-icon>123 Centre Urbain Nord, Tunis.</span>
                </div>
                <div class="flex flex-col md:mt-0 mb-2 text-white font-poppins py-20 mx-36">
                  
                        <span class="my-2 font-bold text-base">Contact Info</span>
                        <span class="my-2 text-base"><mat-icon> phone </mat-icon> info@gym.com</span>
                        <span class="my-2 text-base"><mat-icon> email </mat-icon> +216 71 456 789</span>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6 text-white">
        <div class="mt-16 border-t-2 border-white flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm mb-2">
                    © 2021 by Sarah&Mahdi&Amine&Meryem
                </p>
            </div>
        </div>
    </div>
</footer>