<div class="flex flex-col mx-auto p-8 overflow-hidden w-80 rounded-3xl  border-4 border-black ">
    <img class="   transform scale-[.4]" src="\assets\images\logo noir.png" alt="cardio">
     
    <div class="mx-auto mt-4 mb-2 text-center text font-bold">Professional Plan</div>
    <div class="flex flex wrap mb-2 text-center mx-auto">Sed ut perspiciatis unde natus error sit  quae ab illo inventor</div>
    <div class="border bg-[#777777] w-full mx-auto m-2 "></div>
    <div class="flex items-center justify-center">
        <span class="text-6xl font-bold">150</span>
        <span class="text-3xl">DT</span>
    </div>
    <div class="mt-8 mb-2 mx-auto">
        <button class="bg-[#000] hover:bg-[#777777] text-white font-semibold w-full py-3 px-8 rounded-full">Get Started</button>
    </div>
</div>
