<!-- TODO RADIO BUTTON CSS font-radio -->

<!-- <div class="flex-1 sm:w-auto md:w-auto lg:w-3/5 h-auto mx-20 rounded-xl border-4 border-cod-gray-500 font-poppins">
  <div
    class="text-center bg-cod-gray-500 h-16 text-white text-2xl font-semibold border-2 border-cod-gray-500 rounded-t-xl rounded-bl-full">
    <div class="py-4">Filters</div>
  </div>
  <div>
    <div class="grid lg:grid-cols-1 divide-y divide-cod-gray-500 px-8">
      <div class="py-8 lg:mx-0">
        <span class="font-poppins text-lg">Activities</span>
        <div class="py-2">
          <input type="radio" class="form-radio h-6 w-6 text-black" name="activities" 
          (click)="onSearch()" 
          #activities>
          <label class="px-2" for="PoolAccess">Swimming</label>
        </div>
        <div class="py-2 ">
          <input type="radio" class="form-radio h-6 w-6 text-black" name="activities"
          (click)="onSearch()" #activities>
          <label class="px-2" for="Squach">Squach</label>
        </div>
        <div class="py-2">
          <input type="radio" class="form-radio h-6 w-6 text-black" name="activities"
          (click)="onSearch()" #activities>
          <label class="px-2" for="Vaporium">Aerobic</label>
        </div>
        <div class="py-2">
          <input type="radio" class="form-radio h-6 w-6 text-black" name="activities"
          (click)="onSearch()" #activities>
          <label class="px-2" for="Musculation">Musculation</label>
        </div>
        <div class="py-2">
          <input type="radio" class="form-radio h-6 w-6 text-black" name="activities"
          (click)="onSearch()" #activities>
          <label class="px-2" for="sport1">Zumba</label>
        </div>
        <div class="py-2">
          <input type="radio" class="form-radio h-6 w-6 text-black" name="activities"
          (click)="onSearch()" #activities>
          <label class="px-2" for="sport2">Spinning</label>
        </div>
        <div class="py-2">
          <input type="radio" class="form-radio h-6 w-6 text-black" name="activities"
          (click)="onSearch()" #activities>
          <label class="px-2" for="sport3">Yoga</label>
        </div>
      </div>
      <div class="py-8 lg:mx-0">
        <span class="font-poppins text-lg">Access</span>
        <div class="py-2">
          <input type="radio" class="form-input-radio h-6 w-6 text-black" name="access"
          (click)="onSearch()" #access>
          <label class="px-2" for="limited">Mixt</label>
        </div>
        <div class="py-2">
          <input type="radio" class="form-radio h-6 w-6 text-black" name="access"
          (click)="onSearch()" #access>
          <label class="px-2" for="limited">Men</label>
        </div>
        <div class="py-2">
          <input type="radio" class="form-radio h-6 w-6 text-black" name="access"
          (click)="onSearch()" #access>
          <label class="px-2" for="unlimited">Women</label>
        </div>
      </div>
      <div class="py-8 lg:mx-0">
        <span class="font-poppins text-lg">Open on weekends</span>
        <div class="py-2">
          <input type="radio" class="form-radio h-6 w-6 text-black" name="weekends"
          (click)="onSearch()" #openOnWeekends>
          <label class="px-2" for="yes">Yes</label>
        </div>
        <div class="py-2">
          <input type="radio" class="form-radio h-6 w-6 text-black" name="weekends"
          (click)="onSearch()" #openOnWeekends>
          <label class="px-2" for="no">No</label>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="flex-1 sm:w-auto md:w-auto lg:w-3/5 h-auto mx-20 rounded-xl border-4 border-cod-gray-500 font-poppins">
  <div
    class="text-center bg-cod-gray-500 h-16 text-white text-2xl font-semibold border-2 border-cod-gray-500 rounded-t-xl rounded-bl-full">
    <div class="py-4">Filters</div>
  </div>
  <div>
    <div class="grid lg:grid-cols-1 divide-y divide-cod-gray-500 px-8">
      <div class="py-8 lg:mx-0">
        <span class="font-poppins text-lg">Activities</span>
        <div class="py-2" *ngFor="let activity of activities">
          <input type="checkbox" 
          class="rounded-full bg-black h-6 w-6"
          name= "{{activity.value}}"
          value= "{{activity.value}}"
          #activities
          (change)="onSearchAct($event)"
          > 
          <label class="px-2">{{activity.name}}</label>
        </div>
      </div>


      <div class="py-8 lg:mx-0">
        <span class="font-poppins text-lg">Access</span>
        <div class="py-2" *ngFor="let acc of access">
          <input type="checkbox" class="rounded-full bg-black h-6 w-6" 
          name="{{acc.name}}" 
          #access
          value="{{acc.name}}"
          (change)="onSearchAccess($event)"
          >
          <label class="px-2">{{acc.name}}</label>
        </div>
      </div>

      
      <div class="py-8 lg:mx-0">
        <span class="font-poppins text-lg">Open on weekends</span>
        <div class="py-2" *ngFor="let op of openOnWeekend">
          <input type="checkbox" class="rounded-full bg-black h-6 w-6" 
          name="{{op.value}}"
          #openOnWeekends
          value="{{op.value}}"
          (change)="onSearchOpen($event)"
          >
          <label class="px-2">{{op.value}}</label>
        </div>
      </div>
    </div>
  </div>
</div>