<div class="mx-8 h-auto w-1/6 rounded-xl border-4 border-cod-gray-500 text-poppins">
  <div class="text-center bg-cod-gray-500 h-16 text-white text-2xl  font-semibold border-2 border-cod-gray-500 rounded-t-xl rounded-bl-full">
         <div class="py-4">  Filters</div>
  </div>
  <div>
    <div class="grid grid-cols-1 divide-y divide-cod-gray-500 px-8">
      <div class="py-8">
        <span class="text-poppins text-lg">Activities</span>
        <div class="py-2">
           <input type="radio" name="drone" value="huey"
         checked>
           <label class="px-2" for="huey">Pool Access</label>
        </div>
        <div class="py-2">
            <input type="radio" name="drone" value="dewey">
            <label class="px-2" for="dewey">Squach</label>
        </div>
        <div class="py-2">
            <input type="radio" name="drone" value="dewey">
            <label class="px-2" for="dewey">Vaporium</label>
        </div>
        <div class="py-2">
            <input type="radio" name="drone" value="dewey">
            <label class="px-2" for="dewey">Musculation</label>
        </div>
        <div class="py-2">
            <input type="radio" name="drone" value="dewey">
            <label class="px-2" for="dewey">sport</label>
        </div>
        <div class="py-2">
            <input type="radio" name="drone" value="dewey">
            <label class="px-2" for="dewey">sport</label>
        </div>
        <div class="py-2">
            <input type="radio" name="drone" value="dewey">
            <label class="px-2" for="dewey">sport</label>
        </div>
       </div>
      <div class="py-8">
        <span class="text-poppins text-lg">Access</span>
        <div class="py-2">
            <input type="radio" name="drone" value="dewey">
            <label  class="px-2" for="dewey">limited</label>
        </div>
        <div class="py-2">
            <input type="radio" name="drone" value="dewey">
            <label class="px-2" for="dewey">unlimited</label>
        </div>
      </div>
      <div class="py-8">
        <span class="text-poppins text-lg">Open on weekends</span>
        <div class="py-2">
            <input type="radio" name="drone" value="dewey">
            <label class="px-2" for="dewey">yes</label>
        </div>
        <div class="py-2">
            <input type="radio" name="drone" value="dewey">
            <label class="px-2" for="dewey">no</label>
        </div>
      </div>
    </div>
  </div>
</div>