<div class="flex-1 sm:w-auto md:w-auto lg:w-3/5 h-auto mx-20 rounded-xl border-4 border-cod-gray-500 font-poppins">
  <div class="text-center bg-cod-gray-500 h-16 text-white text-2xl font-semibold border-2 border-cod-gray-500 rounded-t-xl rounded-bl-full">
         <div class="py-4">  Filters</div>
  </div>
  <div>
    <div class="grid lg:grid-cols-1 divide-y divide-cod-gray-500 px-8">
      <div class="py-8 lg:mx-0">
        <span class="font-poppins text-lg">Activities</span>
        <div class="py-2">
           <input type="checkbox" name="activities" checked>
           <label class="px-2" for="PoolAccess">Pool Access</label>
        </div>
        <div class="py-2 ">
            <input type="checkbox" name="activities">
            <label class="px-2" for="Squach">Squach</label>
        </div>
        <div class="py-2">
            <input type="checkbox" name="activities">
            <label class="px-2" for="Vaporium">Vaporium</label>
        </div>
        <div class="py-2">
            <input type="checkbox" name="activities">
            <label class="px-2" for="Musculation">Musculation</label>
        </div>
        <div class="py-2">
            <input type="checkbox" name="activities">
            <label class="px-2" for="sport1">sport1</label>
        </div>
        <div class="py-2">
            <input type="checkbox" name="activities">
            <label class="px-2" for="sport2">sport2</label>
        </div>
        <div class="py-2">
            <input type="checkbox" name="activities">
            <label class="px-2" for="sport3">sport3</label>
        </div>
       </div>
      <div class="py-8 lg:mx-0">
        <span class="font-poppins text-lg">Access</span>
        <div class="py-2">
            <input type="checkbox" name="access">
            <label  class="px-2" for="limited">limited</label>
        </div>
        <div class="py-2">
            <input type="checkbox" name="access">
            <label class="px-2" for="unlimited">unlimited</label>
        </div>
      </div>
      <div class="py-8 lg:mx-0">
        <span class="font-poppins text-lg">Open on weekends</span>
        <div class="py-2">
            <input type="checkbox" name="weekends">
            <label class="px-2" for="yes">yes</label>
        </div>
        <div class="py-2">
            <input type="checkbox" name="weekends">
            <label class="px-2" for="no">no</label>
        </div>
      </div>
    </div>
  </div>
</div>